<hr>
<div class="footer-wrapper">
  <table>
    <td>
      <ul>
        <th>Buy</th>
        <li><a href="registration">Registration</a></li>
        <li><a href="eBay-money-back-guarantee">eBay Money Back Guarantee</a></li>
        <li><a href="bidding-and-buying-help">Bidding & buying help</a></li>
        <li><a href="stores">Stores</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <th>Sell</th>
        <li><a href="Start selling">Start selling</a></li>
        <li><a href="how-to-sell">How to sell</a></li>
        <li><a href="business-sellers">Business sellers</a></li>
        <li><a href="affiliates">Affiliates</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <th>eBay companies</th>
        <li><a href="eBay-classifieds">eBay Classifieds</a></li>
        <li><a href="stubHub">StubHub</a></li>
        <li><a href="see-all-companies">See all Companies</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <th>About eBay</th>
        <li><a href="info">Company info</a></li>
        <li><a href="news">News</a></li>
        <li><a href="inventors">Inventors</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="diversity">Diversity & Inclusion</a></li>
        <li><a href="impact">Global Impact</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <th>Help & Contact</th>
        <li><a href="resolution">Resolution Center</a></li>
        <li><a href="seller">Seller Center</a></li>
        <li><a href="contact">Contact Us</a></li>
        <li><a href="returns">eBay Returs</a></li>
        <li><a routerLink="about">About</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <th>Community</th>
        <li><a href="announcements">Announcements</a></li>
        <li><a href="knowledge-base">Knowledge Base</a></li>
        <li><a href="boards">Discussion boards</a></li>
        <li><a href="charity">Charity Shop</a></li>
        <li><a href="community">eBay Community</a></li>
      </ul>
    </td>
  </table>
  <div class="ft">
    <a href="facebook"><i class="fab fa-facebook">&nbsp;&nbsp;</i>Facebook&nbsp;&nbsp;&nbsp;</a>
    <a href="twitter"><i class="fab fa-twitter-square"></i>&nbsp;&nbsp;&nbsp;Twitter</a>
  </div>
  <div class="personal">
    <p>Project is made solely for educational purposes and research. All images belons to eBay Inc. For any questions and concerns contact <a href = "mailto: buzzik@yahoo.com">buzzik@yahoo.com</a></p>
  </div>
</div>
