
<div class="center">
  <div class="maincontainer">
    <app-login></app-login>
    <app-search></app-search>
    <app-categories></app-categories>

    <h1>About Us</h1>
    <p>
      Site Rebuild  By Pavel Zanchuk  04.5.2019<br>
      This is a clone of ebay.com webpage with some functionality.<br><br>

      Setup/Installation Requirements<br>

Navigate your web browser to https://github.com/pzanchuk/Site-Rebuild.<br>
Click the green button "Clone or download" on the repository page.<br>
To download the repository choose "Open in Desktop" or "Download Zip.<br>
Alternatively, to clone the repository, type "git clone https://github.com/pzanchuk/Site-Rebuild in the terminal".<br>
(Note!: git, node.js should be installed on your PC).  For more information visit GitHub Help section Cloning a repository from GitHub:<br>
https://github.com/pzanchuk/Site-Rebuild<br>
Angular mast be installed.<br>
To run the project in browser: navigate in terminal to ../Site-Rebuild and run these lines to restore files "npm install", then "ng serve".<br>
Project will be loaded at a http://localhost:4200/<br><br>

Support and contact details<br>

For support please contact:<br>
Pavel Zanchuk - buzzik@yahoo.com<br>

Technologies Used<br>

This website was created using Angular/TS, HTML5, Bootstrap<br>

License<br><br>

MIT License<br><br>

Copyright (c) 2019 Pavel Zanchuk<br><br>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>


  </div>
</div>
