<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="header">
  <div class="nav-bar-left">
    <ul>
      <li>Hi</li>
      <li><button id="sign-in">Sign in</button></li>
      <li>or</li>
      <li><button id="register">Register</button> &nbsp; | </li>
      <li><a class="black-link" href="#deals">&nbsp;Daily Deals&nbsp;</a> | </li>
      <li><a class="black-link" href="#gifts">&nbsp;Gift Cards&nbsp;</a> | </li>
      <li><a class="black-link" href="#help">&nbsp;Help & Contact&nbsp;</a></li>
      <li><a href="#promo"><img src="../assets/img/header-promo.jpg" alt="do not miss out on sales"></a></li>
    </ul>
  </div>
  <div class="nav-bar-right">
    <ul>
      <li><button id="sell">&nbsp;Sell&nbsp;</button> | </li>
      <li><a class="black-link" href="#my-ebay">&nbsp;My eBay&nbsp;</a></li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#notifications"><img src="../assets/img/notification1.png" alt="notifications"></a></li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#cart"><img src="../assets/img/cart.png" alt="notifications"></a></li>
    </ul>
  </div>
</div>
