.nav-bar-left{
  float: left;
  padding-left: 30px;
}

.nav-bar-right{
  height: 32px;
  padding-top: 5px;
  float: right;
  margin-right: 30px;
}

.black-link {
  color: #555;
}

.header ul {
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Sans-serif !important;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
  color: blue;
}

.nav-bar-left li {
  display: inline;
  padding-right: 3px;
}

.nav-bar-right li {
  display: inline;
}

.nav-bar-right img{
  padding-bottom: 1px;
  width: 25px;
  height: 22px;
}

#sign-in, #register{
  padding: 0;
  margin: 0;
  color: blue;
  border: none;
  background: none;
}

#sell{
  border: none;
  background: none;
}

.nav-bar-left button:hover {
  text-decoration: underline;
}

.nav-bar-right button:hover {
  text-decoration: underline;
  color: blue;
}
