<div class="categories">
  <ul>
    <li class="home">Home</li>
    <li><i class="fa fa-heart" aria-hidden="true"></i><a href="#saved"> Saved</a></li>
    <li><a href="#motors">Motors</a></li>
    <li><a href="#fashio">Fashion</a></li>
    <li><a href="#electronics">Electronics</a></li>
    <li><a href="#collectibles-and-arts">Collectibles & Art</a></li>
    <li><a href="#home-and-garden">Home & Garden</a></li>
    <li><a href="#sporting-goods">Sporting Goods</a></li>
    <li><a href="#toys">Toys</a></li>
    <li><a href="#bussiness-and-industial">Bussiness & Industrial</a></li>
    <li><a href="#music">Music</a></li>
    <li><a href="#deals">Deals</a></li>
    <li><a href="#under-10">Under $10</a></li>
  </ul>
</div>
