<div class="categories">
  <ul>
    <li class="home">Home &nbsp;</li>
    <li class="saved"><a class="saved" href="#saved"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Saved</a></li>
    <li>
      <div class="dropdown">
        <a href="#motors">Motors</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#fashion">Fashion</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#electronics">Electronics</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#collectibles-and-arts">Collectibles & Art</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#home-and-garden">Home & Garden</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#sporting-goods">Sporting Goods</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#toys">Toys</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#bussiness-and-industial">Bussiness & Industrial</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#music">Music</a>
        <div class="dropdown-content" style="right:0;">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="#deals">Deals</a>
        <div class="dropdown-content" style="right:0;">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li><a id="no" href="#under-10">Under $10</a></li>
  </ul>
</div>
