.categories{
  padding-left: 5%;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-top: 20px;
  padding-top: 15px;
}

ul{
  font-family: Helvetica Neue;
  font-size: 13px;
  list-style-type: none;
  padding: 0;
}

li{
  font-family: "Market Sans", Arial, sans-serif;
  padding: 11px;
  display: inline;
}

a{
  color: #606060;
}

a:hover{
  color: blue;
}

.home{
  color: black;
  font-weight: bold;
}

.fa-heart{
  font-size: 10px;
  color: #707070;
}
