<div class="deals-wrapper">
  <h1>All the Deals You Can't Miss</h1>

  <table>
    <tr>
      <td><a href=""><img src="../assets/img/deals2.webp" alt="deals3"></a><h4>Fully-Charged Tech</h4></td>
      <td><a href=""><img src="../assets/img/deals3.webp" alt="deals3"></a><h4>Time to Get Tidy</h4></td>
      <td><a href=""><img src="../assets/img/deals4.webp" alt="deals4"></a><h4>Gear for All Sports</h4></td>
      <td><a href=""><img src="../assets/img/deals5.webp" alt="deals5"></a><h4>Get Glam for Spring</h4></td>
      <td><a href=""><img src="../assets/img/deals6.webp" alt="deals6"></a><h4>Everything Auto</h4></td>
      <td><a href=""><img src="../assets/img/deals7.webp" alt="deals7"></a><h4>Collectible Toys</h4></td>
      <td><a href=""><img src="../assets/img/deals1.webp" alt="deals1"></a><h4>Merch for #1 Fan</h4></td>
    </tr>
  </table>
</div>
