.nav-bar-left{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-bar-right{
  float: right;
  margin-right: 40px;
}

.header ul {
  font-family: Helvetica Neue;
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.header a:hover {
  text-decoration: underline;
  color: blue;
}

.nav-bar-left li {
  display: inline;
  padding-right: 3px;
}

.nav-bar-right li {
  display: inline;
}
