<div class="header">
  <div class="nav-bar-left">
    <ul>
      <li>Hi</li>
      <li class="blue"><a href="#sign-in">Sign in</a></li>
      <li>or</li>
      <li><a class="blue" href="#register">Register</a> | </li>
      <li><a href="#deals">Daily Deals</a> | </li>
      <li><a href="#gifts">Gift Cards</a> | </li>
      <li><a href="#help">Help & Contact</a></li>
      <li><a href="#promo"><img src="../assets/img/header-promo.jpg" alt="do not miss out on sales"></a></li>
    </ul>
  </div>
  <div class="nav-bar-right">
    <ul>
      <li><a href="#sell">Sell</a> | </li>
      <li><a href="#my-ebay">My eBay</a></li>
      <li><a href="#notifications"></a></li>
      <li><a href="#shopping ca"></a></li>
    </ul>
  </div>
</div>
