<div class="trending-wrapper">
  <div class="text">
    <h1>Trending on eBay</h1>
    <a class="upper" href="https://www.ebay.com/trending/?_trkparms=pageci%3A795fd693-5cc4-11e9-be4d-74dbd1804016%7Cparentrq%3A0f37719b16a0a68d5f8b8052fff35c16%7Ciid%3A1"> See All Trends &nbsp;<i class="fas fa-arrow-right"></i></a>
  </div>
  <div class="bandle">
    <div class="image">
      <a href="#"><img src="../assets/img/trend1.jpg" alt=""></a>
      <h2>1&nbsp;&nbsp;&nbsp;<span class="sp"> Vans x David Bowie</span><span class="sp2">11,157 Views</span></h2>
    </div>
    <div class="image second">
      <a href="#"><img src="../assets/img/trend2.jpg" alt=""></a>
      <h2>2&nbsp;&nbsp;&nbsp;<span class="sp"> Bumblebee</span><span class="sp2">10,67 Views</span></h2>
    </div>
    <div class="image last">
      <a href="#"><img src="../assets/img/trend3.jpg" alt=""></a>
      <h2>3&nbsp;&nbsp;&nbsp;<span class="sp"> Streamboat Willie LEGO</span><span class="sp2">8,120 Views</span></h2>
    </div>
  </div>
</div>
