<div class="underheader">
  <table>
    <tr>
      <td><a href="https://www.ebay.com"><img src="../assets/img/ebay.png" alt="ebay.com"></a></td>
      <td>
        <div class="dropdown">
          <button onclick="myFunction()" href="#shopcategory" class="dropbtn shop-category">Shop by<br>category <i class="fa fa-sort-down"></i></button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
