.underheader {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.underheader img{
  width: 117px;
  height: 45px;
}

.fa-sort-down{
  color: #707070;
}

.shop-category{
  color: #707070;
  border: none;
  background: none;
  font-size: 14px;
  margin-top: 5px;
  line-height: 1;
}

.btn{
  width: 100px;
}

.advanced a{
  font-size: 12px;
  color: #707070;
}

.advanced a:hover{
  text-decoration: none;
  color:blue;
}

button:hover{
  color: blue;
}
