<div class="underheader">
  <table style="width:100%">
    <tr>
      <td width="10%"><a href="https://www.ebay.com"><img src="../assets/img/ebay.png" alt="ebay.com"></a></td>
      <td width="8%"><button class="shop-category" href="#shopcategory">Shop by<br>category <i class="fa fa-sort-down"></i></button></td>
      <td width="60%"><input class="form-control" style="width: 100%; height: 38px" type="text"></td>
      <td width="12%">
        <div>
            <select class="form-control">
              <option>All Categories</option>
              <option>Antiques</option>
              <option>Art</option>
              <option>Baby</option>
              <option>Books</option>
            </select>
          </div>
      </td>
      <td width>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="large btn btn-primary">Search</button></td>
    </tr>
  </table>
</div>
