<div class="underheader">
  <table style="width:100%">
    <tr>
      <td width="10%"><a href="https://www.ebay.com"><img src="../assets/img/ebay.png" alt="ebay.com"></a></td>
      <td width="8%"><button class="shop-category">Shop by<br>category </button><i class="fa fa-sort-down"></i></td>
      <td width="52%"><input class="form-control" style="width: 100%; height: 38px" type="text" placeholder="Search for anything"></td>
      <td width="12%">
        <div>
          <select class="form-control">
            <option>All Categories</option>
            <option>Antiques</option>
            <option>Art</option>
            <option>Baby</option>
            <option>Books</option>
            <option>Bussiness & Industrial</option>
            <option>Camera & Photo</option>
            <option>Cell Phones & Accessories</option>
          </select>
        </div>
      </td>
      <td width="8%"><button type="button" class="large btn btn-primary">Search</button></td>
      <td class="advanced"><a href="#advanced-search">Advanced</a></td>
    </tr>
  </table>
</div>
