.underheader{
  padding-top: 40px;
  padding-left: 13px;
  border: solid red;
}

.underheader img{
  width: 117px;
  height: 45px;
}

.shop-category{
  border: none;
  background: none;
  font-size: 14px;
  margin-top: 5px;
  line-height: 1;
}
