<div class="daily-wrapper">
  <div class="text">
    <h1>Daily Deals</h1>
    <a class="upper" href="https://www.ebay.com/deals?_trkparms=pageci%3A4f961deb-5cd8-11e9-ab4e-74dbd180753a%7Cparentrq%3A0fb972a816a0aada472cb288fff32f19%7Ciid%3A1"> See All &nbsp;<i class="fas fa-arrow-right"></i></a>
  </div>
  <div class="bandle">
    <a href="https://www.ebay.com/deals?_trkparms=pageci%3A4f961deb-5cd8-11e9-ab4e-74dbd180753a%7Cparentrq%3A0fb972a816a0aada472cb288fff32f19%7Ciid%3A1"><img src="../assets/img/dailyDeals.jpg" alt=""></a>
  </div>
</div>
