<app-login></app-login>
<app-search></app-search>
<app-categories></app-categories>

<div class="header">
  <h1>Create Your Ad Here</h1>
</div>
<div class="form-for-ad">
  <div>
    <label for="title">Enter Title for Yor Ad: </label>
    <input #newTitle id="title">
  </div>
  <div>
    <label for="brand">Enter Your Ad Text: </label>
    <textarea #newText></textarea>
  </div>
  <div class="submit-form">
    <a routerLink=""><button class="btn btn-dark" (click)="submitForm(newTitle.value, newText.value); newTitle.value = ''; newText.value = '';">Create Add</button></a>
  </div>
</div>
