.header{
  margin-top: 50px;
  text-align: center;
  color: #505050;
}

.form-for-ad{

  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid #808080;
  height: 350px;
}


input{
  width: 400px;
  margin-left: 100px;
  box-sizing: border-box;
}
textarea{
  margin-left: 117px;
  width: 400px;
}
